        <form action="/books/<%= book.id %>" method="post" >
        <ul id="book-detail"></ul>
        <li class="book-item" data-id="<%= book.id %>">
                <input type="hidden" name="_method" value="delete">
                <img src="<%= book.image_url %>"/>
                <h4>Title: <%= book.title %></h4>
                <p>Author: <%= book.author %></p>
                <p>Description: <%= book.book_description %></p>
                <p>ISBN: <%= book.isbn %></p>
                <p>Bookshelf: <%= book.bookshelf %></p>
                <button type="submit" class="delete" method="post" formaction="/books/<%= book.id %>">Delete</button>
        </li>
        </ul>
        </form>
      