        <ul id="book-detail"></ul>
        <li class="book-item" data-id="<%= book.id %>">
                <img src="<%= book.image_url %>"/>
                <h4>Title: <%= book.title %></h4>
                <p>Author: <%= book.author %></p>
                <p>Description: <%= book.book_description %></p>
                <p>ISBN: <%= book.isbn %></p>
                <p>Bookshelf: <%= book.bookshelf %></p>
                <button type="submit">Edit</button>
                <button type="submit">Delete</button>
        </li>
        </ul>
      