<%- include('../../layout/head') %>
<body>  
        <p><a href="/">Home</a></p>     
        <%- include('../../layout/header') %>
        <%- include('detail', {book: book}) %>
        <button class="add" type="submit" >Update Details</button>
        <%- include('edit', {book: book}) %>
        <%- include('../../layout/footer') %>
    </body>
    </html>
