<%- include('../../layout/head') %>
<body>
        <%- include('../../layout/header') %>
    <div class = "b"><h1>My Bookcase</h1></div> 
    <div class = "cshow">
       <p><a href="/">Home</a></p>
        <ul>
            <% arrayOfBooks.forEach(item => { %>
                <img src="<%= item.image %>"/>
                <li><%= item.title %></li>
                <li><%= item.author %></li>
                <li><%= item.description %></li>
                <li><%= item.isbn %></li>
                <% console.log('>>>>>>>ITEM', item.title) %>
            <% }) %>
        </ul>
    </div> 
    <%- include('../../layout/footer') %>
    </div>
</body>
</html>