<%- include('../../layout/head') %>
<body>
        <%- include('../../layout/header') %>
    <div class = "b"><h1>My Bookcase</h1></div> 
    <div class = "cshow">
       <p><a href="/">Home</a></p>
        <ul>
            <% arrayOfBooks.forEach(item => { %>
                <img src="<%= item.image %>"/>
                <li><%= item.title %></li>
                <li><%= item.author %></li>
                <li><%= item.description %></li>
                <li><%= item.isbn %></li>
                <button type="submit" class="add">Select This Book</button>
                <form action="/books" class="hidden" method="post" >
                    <fieldset>
                        <label for="title">
                            <span>Title</span>
                            <input type="text" value="<%= item.title %>" required>
                        </label> 
                    </fieldset>
                    <fieldset>
                        <label for="author">
                            <span>Author</span>
                            <input type="text" value="<%= item.author %>" required>
                        </label> 
                    </fieldset>
                    <fieldset>
                        <label for="description">
                            <span>Description</span>
                            <input type="text" value="<%= item.description %>" required>
                        </label> 
                    </fieldset>
                    <fieldset>
                        <label for="isbn">
                            <span>ISBN</span>
                            <input type="text" value="<%= item.isbn %>" required>
                        </label> 
                    </fieldset>
                    <fieldset>
                        <label for="bookshelf">
                            <span>Bookshelf</span>
                            <input type="text" required>
                        </label> 
                    </fieldset>
                    <button type="submit">Add to Bookcase</button>
                </form>
            <% }) %>
        </ul>
    </div> 
    <%- include('../../layout/footer') %>
    </div>
</body>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type = "text/javascript" src = "js/app.js"></script>
</html>