<%- include('../layout/head') %>
<body>
    <%- include('../layout/header') %>
       <div class = "b"><h4>Bookcase</h4></div> 
        <p><a href = "/searches/new">Find a New Book</a></p>
           <div class = "bookcase">
            <p><%= results.length %></p>
            <ul>
                <% results.forEach(item => { %>
                    <img src="<%= item.image_url %>"/>
                    <li><%= item.title %></li>
                    <li><%= item.author %></li>
                    <li><%= item.book_description %></li>
                    <li><%= item.isbn %></li>
                    <li><%= item.bookshelf %></li>
                    <button type="submit"><a href="/books/<%= item.id %>">View Details</a></button>
                <% }) %>
            </ul>
        </div>
    </div>
    <%- include('../layout/footer') %>
    </div>
</body>
</html>